---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=0&key=weather_api_key&q=ip130sr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - RO
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/10/2022 22:13:49
      Cdn-Edgestorageid:
      - '717'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - be3723ca60641df0ef990d86da4749bf
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Woodbridge","region":"Suffolk","country":"UK","lat":52.19,"lon":1.32,"tz_id":"Europe/London","localtime_epoch":1644531229,"localtime":"2022-02-10
        22:13"},"current":{"last_updated_epoch":1644526800,"last_updated":"2022-02-10
        21:00","temp_c":2.0,"temp_f":35.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":270,"wind_dir":"W","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"humidity":80,"cloud":0,"feelslike_c":-3.6,"feelslike_f":25.6,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":26.6,"gust_kph":42.8},"forecast":{"forecastday":[{"date":"2022-02-10","date_epoch":1644451200,"day":{"maxtemp_c":7.3,"maxtemp_f":45.1,"mintemp_c":3.4,"mintemp_f":38.1,"avgtemp_c":6.0,"avgtemp_f":42.7,"maxwind_mph":17.7,"maxwind_kph":28.4,"totalprecip_mm":1.4,"totalprecip_in":0.06,"avgvis_km":8.7,"avgvis_miles":5.0,"avghumidity":75.0,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":1.0},"astro":{"sunrise":"07:20
        AM","sunset":"04:59 PM","moonrise":"10:59 AM","moonset":"03:08 AM","moon_phase":"First
        Quarter","moon_illumination":"62"},"hour":[{"time_epoch":1644451200,"time":"2022-02-10
        00:00","temp_c":7.6,"temp_f":45.7,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":334,"wind_dir":"NNW","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.4,"precip_in":0.02,"humidity":85,"cloud":100,"feelslike_c":7.8,"feelslike_f":46.0,"windchill_c":7.8,"windchill_f":46.0,"heatindex_c":7.6,"heatindex_f":45.7,"dewpoint_c":5.2,"dewpoint_f":41.4,"will_it_rain":1,"chance_of_rain":74,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":3.1,"gust_kph":5.0,"uv":1.0},{"time_epoch":1644454800,"time":"2022-02-10
        01:00","temp_c":7.5,"temp_f":45.5,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":301,"wind_dir":"WNW","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.2,"precip_in":0.01,"humidity":85,"cloud":100,"feelslike_c":7.5,"feelslike_f":45.5,"windchill_c":7.5,"wind[...]
