---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=0&key=weather_api_key&q=111
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - RO
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/10/2022 22:10:56
      Cdn-Edgestorageid:
      - '717'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8cd4fa59c858b5c45ace789f7411acd8
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Campo 111","region":"Chihuahua","country":"Mexico","lat":28.72,"lon":-107.07,"tz_id":"America/Chihuahua","localtime_epoch":1644531056,"localtime":"2022-02-10
        15:10"},"current":{"last_updated_epoch":1644526800,"last_updated":"2022-02-10
        14:00","temp_c":13.7,"temp_f":56.7,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":7.8,"wind_kph":12.6,"wind_degree":89,"wind_dir":"E","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"humidity":21,"cloud":0,"feelslike_c":12.7,"feelslike_f":54.9,"vis_km":10.0,"vis_miles":6.0,"uv":4.0,"gust_mph":8.9,"gust_kph":14.4},"forecast":{"forecastday":[{"date":"2022-02-10","date_epoch":1644451200,"day":{"maxtemp_c":15.3,"maxtemp_f":59.5,"mintemp_c":0.6,"mintemp_f":33.1,"avgtemp_c":7.1,"avgtemp_f":44.7,"maxwind_mph":11.2,"maxwind_kph":18.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":30.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"06:51
        AM","sunset":"05:55 PM","moonrise":"12:48 PM","moonset":"02:18 AM","moon_phase":"First
        Quarter","moon_illumination":"62"},"hour":[{"time_epoch":1644476400,"time":"2022-02-10
        00:00","temp_c":4.9,"temp_f":40.8,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":3.6,"wind_kph":5.8,"wind_degree":136,"wind_dir":"SE","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":33,"feelslike_c":3.7,"feelslike_f":38.7,"windchill_c":3.7,"windchill_f":38.7,"heatindex_c":4.9,"heatindex_f":40.8,"dewpoint_c":-9.8,"dewpoint_f":14.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.4,"gust_kph":11.9,"uv":1.0},{"time_epoch":1644480000,"time":"2022-02-10
        01:00","temp_c":4.2,"temp_f":39.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":141,"wind_dir":"SE","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":35,"cloud":7,"feelslike_c":2.8,"feelslike_f":37.0,"windchill_c":2.8,"windchill_f":3[...]
